@import url("https://fonts.googleapis.com/css?family=Playfair+Display&subset=latin-ext");
@import "~rembased/css/rembased_basic";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

@fs1: 10px;
@fs2: 10px * 1.5;
@fs3: 10px * 1.5 * 1.5;
@fs4: 10px * 1.5 * 1.5 * 1.5;
@fs5: 10px * 1.5 * 1.5 * 1.5 * 1.5;

body {
  font: @fs2 ~"/" 1.4 "Playfair Display", sans-serif;
  color: mediumblue;
}

p, h1, h2, h3, ul, ol, table, pre, iframe { margin-bottom: 0; }

h1 {
  font-size: @fs5;
}

h2 {
  font-size: @fs4;
}

a {
  text-decoration: none;
}

.fa { font-size: @fs2; }





main {
  margin: 0 auto;
  width: 600px;
  padding: 0 1rem;
  //border-left: 1px solid currentColor;
  //border-right: 1px solid currentColor;
  
  > header {
    text-align: center;
  }
  
  > footer {
    text-align: center;
    font-size: @fs1;
  }
}

.links {
  > * {
    display: inline-block;
    padding: 1rem;
  }
}

.repos {
  > div {
    > h1 {
      text-align: left;
    }

    > .list {
      display: flex;
      flex-flow: row wrap;
      
      > li {
        width: 100%/4;
        
        > a {
          display: block;
          
          margin-right: 2rem;
          margin-bottom: 2rem;
          
          > .title {
            display: block;
            
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            
            border-bottom: 1px solid currentColor;
          }
          
          > .desc {
            display: block;
            font-size: @fs1;
          }
        }
      }
    }
  }
}
